@page "/login"
@using AppUnipsico.Web.Services.InterfacesWeb
@inject IUserServiceWeb _userService;

@if (!exibirFormularioCadastroUsuario)
{
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Acesso ao sistema</h5>
                        <form>
                            <div class="form-floating mb-3">
                                <input type="Cpf" @bind="request.Cpf" class="form-control" id="floatingInput" placeholder="123.456.789-00">
                                <label for="floatingInput">Login - RG</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" @bind="request.Password" class="form-control" id="floatingPassword" placeholder="Senha...">
                                <label for="floatingPassword">Senha</label>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-primary btn-login text-uppercase fw-bold" @onclick="(() => Logar(request))" type="submit">
                                    Sign in
                                </button>
                                <button class="btn btn-primary btn-login text-uppercase fw-bold" @onclick="ExibirFormularioCadastroUsuario" type="button">
                                    Cadastro
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <CadastroUsuarioPaciente></CadastroUsuarioPaciente>
}

@code {
    private bool exibirFormularioCadastroUsuario = false;
    RequestLoginDto request = new RequestLoginDto();

    public async Task<ResponseLoginDto> Logar(RequestLoginDto request)
    {
        var response = await _userService.Logar(request);
        return response;
    }

    private void ExibirFormularioCadastroUsuario()
    {
        exibirFormularioCadastroUsuario = true;
    }
}
