@page "/login"
@using AppUnipsico.Web.Services.InterfacesWeb
@inject IUsuarioServicoWeb _userService;

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Acesso ao sistema.</h5>
                        <form>
                            <div class="form-floating mb-3">
                                <input type="text" @bind="request.RequisicaoCpf" class="input-group-text" id="floatingInput" placeholder="123.456.789-00">
                                <label for="floatingInput">Cpf</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" @bind="request.RequisicaoSenha" class="form-control" id="floatingPassword" placeholder="Senha...">
                                <label for="floatingPassword">Senha</label>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-primary btn-login text-uppercase fw-bold" @onclick="(() => Logar(request))" type="submit">
                                    Sign
                                    in
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@code {

    RequisicaoLoginDTO request = new RequisicaoLoginDTO();

    public async Task<RespostaLoginDTO> Logar(RequisicaoLoginDTO request)
    {
        var response = await _userService.Logar(request);

        return response;
    }
}
